.row {
  margin-left: 20px;
}

.row > h2 {
  color: #ffffff;
  /* margin-top: 1rem; */
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  min-height: 0;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  min-height: 0;
  max-height: 150px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
}

.row__posterLarge {
  max-height: 250px;
}
